@font-face {
	font-family: 'icon-1-2';
	src:url('fonts/corporate-icon/icon-1-2.eot?dwupep');
	src:url('fonts/corporate-icon/icon-1-2.eot?#iefixdwupep') format('embedded-opentype'),
		url('fonts/corporate-icon/icon-1-2.ttf?dwupep') format('truetype'),
		url('fonts/corporate-icon/icon-1-2.woff?dwupep') format('woff'),
		url('fonts/corporate-icon/icon-1-2.svg?dwupep#icon-1-2') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icon-1-2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-long-arrow-top:before {
	content: "\e613";
}
.icon-long-arrow-btm:before {
	content: "\e620";
}
.icon-long-arrow-left:before {
	content: "\e621";
}
.icon-long-arrow-right:before {
	content: "\e622";
}
.icon-calendar:before {
	content: "\e61c";
}
.icon-menu:before {
	content: "\e61b";
}
.icon-doc:before {
	content: "\e62b";
}
.icon-externe:before {
	content: "\e62c";
}
.icon-img:before {
	content: "\e62d";
}
.icon-speaker:before {
	content: "\e62f";
}
.icon-link:before {
	content: "\e630";
}
.icon-xls:before {
	content: "\e631";
}
.icon-zip:before {
	content: "\e632";
}
.icon-minus:before {
	content: "\e60e";
}
.icon-pause:before {
	content: "\e619";
}
.icon-play:before {
	content: "\e61a";
}
.icon-arrow-top:before {
	content: "\e600";
}
.icon-arrow-btm:before {
	content: "\e601";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-short-arrow-btm:before {
	content: "\e603";
}
.icon-short-arrow-left:before {
	content: "\e604";
}
.icon-short-arrow-top:before {
	content: "\e605";
}
.icon-buy:before {
	content: "\e606";
}
.icon-checkdisk:before {
	content: "\e623";
}
.icon-check:before {
	content: "\e607";
}
.icon-email:before {
	content: "\e608";
}
.icon-wallet:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-home:before {
	content: "\e60b";
}
.icon-exponent:before {
	content: "\e60c";
}
.icon-arrow-right:before {
	content: "\e60d";
}
.icon-pdf:before {
	content: "\e60f";
}
.icon-pinterest:before {
	content: "\e610";
}
.icon-map:before {
	content: "\e611";
}
.icon-plusdisk:before {
	content: "\e624";
}
.icon-plus:before {
	content: "\e612";
}
.icon-quote:before {
	content: "\e614";
}
.icon-search:before {
	content: "\e615";
}
.icon-short-arrow-right:before {
	content: "\e616";
}
.icon-stand:before {
	content: "\e617";
}
.icon-twitter:before {
	content: "\e618";
}
.icon-google-plus:before {
	content: "\e628";
}
.icon-linkedin:before {
	content: "\e625";
}
.icon-emptycart:before {
	content: "\e626";
}
.icon-cross-alt:before {
	content: "\e627";
}
.icon-cross:before {
	content: "\e61f";
}
.icon-up:before {
	content: "\e61d";
}
.icon-down:before {
	content: "\e61e";
}
